.product-date {
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  background-color: #282c34;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
  margin-right: 1rem;
}

.product-date_month {
  font-size: 0.75rem;
  font-weight: bold;
}

.product-date_year {
  font-size: 0.75rem;
}

.product-date_date {
  font-size: 1.2rem;
  font-weight: bold;
}
